# =========================
# 🚀 PYTHON CACHE
# =========================
__pycache__/
*.pyc

# =========================
# 🚀 VIRTUAL ENVIRONMENT
# =========================
venv/
.env/

# =========================
# 🚀 SECRET ENV FILES
# =========================
.env

# =========================
# 🚀 DATABASE FILES
# =========================
*.db
*.sqlite3

# =========================
# 🚀 VS CODE SETTINGS
# =========================
.vscode/

# =========================
# 🚀 SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# 🚀 STREAMLIT CACHE
# =========================
.streamlit/

# =========================
# 🚀 MODEL CACHE
# =========================
.cache/